/* node */

.node {
  display: inline;
}

.node.cursorable {}

.node.selectable {}

.cursor-outer {
  display: inline-block;
  border-radius: 0.2rem;
  box-shadow:
    -2px 0 0 0 red,
    2px 0 0 0 red;
}

.node.cursor {
  border-radius: 0.2rem;
  box-shadow:
    -2px 0 0 0 blue,
    2px 0 0 0 blue;
}

.node.select-top {
  border-radius: 0.2rem;
  box-shadow:
    -2px 0 0 0 blue,
    2px 0 0 0 blue;
  background-color: rgb(208, 236, 255)
}

.node.select-bot {
  border-radius: 0.2rem;
  box-shadow:
    -2px 0 0 0 blue,
    2px 0 0 0 blue;
  background-color: white;
}

.node.query-replace-new {
  border-radius: 0.2rem;
  background-color: rgb(196, 196, 255);
  box-shadow: 0 0 0 1px black;
}

.node.query-replace-old {
  border-radius: 0.2rem;
  background-color: rgb(205, 205, 205);
  box-shadow: 0 0 0 1px black;
}

/* query */

.query {
  display: inline;
  position: relative;
}

.query-inner {
  position: absolute;
  left: 0;
  top: 2rem;
  min-width: 4rem;

  border-radius: 0.2rem;
  box-shadow: 0 0 0 1px black, 2px 2px 4px 0 black;
}

.query-string {
  background-color: rgb(255, 208, 106);
  padding: 0.2rem;

  border-bottom: 1px solid black;
}

.query-string-inner {
  /* background-color: rgb(255, 208, 106); */
}

.query-completions {}

.query-completions-inner {}

.query-completion {
  padding: 0.2rem;
  background-color: white;
}

.query-completion-active {
  background-color: blue;
}

.query-completion-empty {
  color: red;
  font-style: italic;
}

.query-insert-top {
  background-color: rgb(208, 236, 255);

  border-radius: 0.2rem;
  box-shadow: 0 0 0 1px orange inset, 2px 2px 4px 0 black;
  padding: 0 0.2rem;
}

.query-insert-bot {
  background-color: white;

  border-radius: 0.2rem;
  box-shadow: 0 0 0 1px orange inset, 1px 1px 2px 0 black inset;
  padding: 0 0.2rem;
}

.query-replace-new {
  background-color: rgb(208, 236, 255);

  border-radius: 0.2rem;
  box-shadow: 0 0 0 1px orange inset, 2px 2px 4px 0 black inset;
}

/* punctuation */

.punctuation {
  display: inline;
}

.punctuation.application {
  /* margin-right: 0.5rem; */
  margin: 0 0.2rem;
  color: gray;
}

.punctuation.lambda {
  margin: 0 0.5rem 0 0;
}

.punctuation.colon {
  margin: 0 0.5rem;
}

.punctuation.mapsto {
  margin: 0 0.5rem;
}

.punctuation.let {
  margin: 0 0.5rem 0 0;
}

.punctuation.in {
  margin: 0 0.5rem;
}

.punctuation.arrowR {
  margin: 0 0.5rem;
}

.punctuation.assign {
  margin: 0 0.5rem;
}

/* indentation */

.indent {
  display: inline-block;
}

.indent-step {
  display: inline-block;
  width: 1rem;
}

/* label */

.label {}

.label-empty {
  border-radius: 0.2rem;
  display: inline-block;
  white-space: pre;
  /* border: 1px dashed black; */
  /* box-shadow: 0 0 0 1px black; */
  background-color: rgb(255, 224, 165);
  box-shadow: 0 0 0 1px orange inset, 1px 1px 2px 0 black inset;
}