/* node */

.node {
  display: inline;

  /* box-decoration-break: slice;
  -webkit-box-decoration-break: slice;
  -o-box-decoration-break: slice; */
}

/* node cursor */

.node-cursor {
  box-shadow: -2px 0 0 0 black, 2px 0 0 0 black;
  border-radius: 0.2rem;
  background-color: white;
}

.node-cursorable:hover {
  /* box-shadow: 0 0 0 2px purple; */
  box-shadow: -2px 0 0 0 purple, 2px 0 0 0 purple;
  border-radius: 0.2rem;
}

.node-cursorable:hover>.node-cursorable:hover {
  box-shadow: -2px 0 0 0 red, 2px 0 0 0 red;
  border-radius: 0.2rem;
}

/* node select */

.node-select-top {
  box-shadow: -2px 0 0 0 black, 2px 0 0 0 black;
  border-radius: 0.2rem;
  background-color: rgb(211, 211, 255);
}

.node-select-top-invalid {
  background-color: rgb(255, 100, 100);
}

.node-select-bot {
  box-shadow: -2px 0 0 0 black, 2px 0 0 0 black;
  border-radius: 0.2rem;
  background-color: white;
}

.node-select-bot-invalid {
  /* same as .node-select-bot */
  background-color: white;
}

.node-selectable-top {
  box-shadow: -2px 0 0 0 purple, 2px 0 0 0 purple;
  border-radius: 0.2rem;
  background-color: rgb(211, 211, 255);
}

.node-selectable-bot {
  box-shadow: -2px 0 0 0 purple, 2px 0 0 0 purple;
  border-radius: 0.2rem;
  background-color: white;
}

/* node query */

.node-query-replace-new {
  /* padding-right: 0.2rem; */
  margin-right: 0.2rem;

  box-shadow: -2px 0 0 0 black, 2px 0 0 0 black;
  border-radius: 0.2rem;
  background-color: rgb(255, 197, 89);
}


.node-query-replace-old {
  /* padding-left: -0.2rem; */
  box-shadow: -2px 0 0 0 black, 2px 0 0 0 black;
  border-radius: 0.2rem;
  background-color: rgb(186, 186, 186);
}

.node-query-insert-top {
  box-shadow: -2px 0 0 0 black, 2px 0 0 0 black;
  border-radius: 0.2rem;
  background-color: rgb(255, 197, 89);
}

.node-query-insert-bot {
  box-shadow: -2px 0 0 0 black, 2px 0 0 0 black;
  border-radius: 0.2rem;
  background-color: white;
}

.node-query-insert-bot>.node-select-top {
  box-shadow: -2px 0 0 0 black, 2px 0 0 0 black;
  border-radius: 0.2rem;
  /* background-color: rgb(211, 211, 255); */
  background-color: rgb(186, 186, 186);
}

.node-query-invalid-string {
  background-color: rgb(255, 69, 69);
}

.node-query-invalid-exp {}

/* bnd */

.node-bnd {}

.node-bnd-bnd {}

/* exp */

.node-exp {}

/* node var */

.node-exp-var {}

.node-exp-var-label {}

/* node app */

.node-exp-app {}

.node-exp-app-apl {}

.node-exp-app-arg {}


/* node lam */

.node-exp-lam {}

.node-exp-lam-apl {}

.node-exp-lam-arg {}

/* punctuation */

.punc {
  display: inline;
}

.punc-paren {}

.punc-paren-left {}

.punc-paren-right {}

.punc-space {
  white-space: pre;
}

.punc-app {
  color: rgb(170, 170, 170);
}

.punc-mapsto {
  display: inline-block;
  color: gray;
  padding: 0 0.5rem;
}

.punc-let {
  font-style: italic;
  color: gray;
  padding-right: 0.5rem;
}

.punc-assign {
  color: gray;
  padding: 0 0.5rem;
}

.punc-in {
  font-style: italic;
  color: gray;
  padding: 0 0.5rem;
}

.punc-indent {
  white-space: pre;
}

.punc-newline {
  /* display: block */
}