:root {
  --node-box-shadow-thickness: 0.2rem;
  --node-box-shadow-thickness-neg: calc(-1 * var(--node-box-shadow-thickness));
}

/* node */

.node {
  display: inline;
  border-radius: 0.2rem;
}

.tm_hol-inner {
  display: inline-block;
  white-space: pre;
  border-radius: 0.2rem;
  padding: 0 0.4rem;
  display: inline-block;
  background-color: rgb(255, 173, 145);
  box-shadow: 0 0 0 1px rgb(255, 106, 0) inset, 0 0 2px 1px black inset;
}

.node.cursorable>.tm_hol-inner:hover {
  background-color: rgb(255, 204, 187);
}

.ty_hol-inner {
  display: inline-block;
  white-space: pre;
  border-radius: 0.2rem;
  padding: 0 0.2rem;
  display: inline-block;
  background-color: rgb(255, 114, 147);
  box-shadow: 0 0 0 1px rgb(255, 86, 126) inset, 0 0 2px 1px black inset;
}

.node.cursorable>.ty_hol-inner:hover {
  background-color: rgb(255, 174, 193);
}


.node.tm_ty-boundary-change {}

/* query */

.query {
  display: inline;
  position: relative;
}

.query-inner {
  position: absolute;
  left: 0;
  top: 2rem;
  min-width: 4rem;

  border-radius: 0.2rem;
  box-shadow: 0 0 0 1px black, 2px 2px 4px 0 black;
}

.query-string {
  background-color: rgb(255, 208, 106);
  padding: 0.2rem;

  border-bottom: 1px solid black;
}

.query-string-inner {
  /* background-color: rgb(255, 208, 106); */
}

.query-completions {}

.query-completions-inner {}

.query-completion {
  padding: 0.2rem;
  background-color: white;
}

.query-completion:hover {
  cursor: pointer;
  padding: 0.2rem;
  background-color: rgb(100, 100, 255);
}

.query-completion-active,
.query-completion-active:hover {
  background-color: blue;
}

.query-completion-empty,
.query-completion-empty:hover {
  color: red;
  background-color: white;
  font-style: italic;
}

.query-insert-top {
  background-color: rgb(208, 236, 255);

  border-radius: 0.2rem;
  box-shadow: 0 0 0 1px orange inset, 2px 2px 4px 0 black;
  padding: 0 0.2rem;
}

.query-insert-bot {
  background-color: white;

  border-radius: 0.2rem;
  box-shadow: 0 0 0 1px orange inset, 1px 1px 2px 0 black inset;
  padding: 0 0.2rem;
}

.query-replace-new {
  background-color: rgb(208, 236, 255);

  border-radius: 0.2rem;
  box-shadow: 0 0 0 1px orange inset, 2px 2px 4px 0 black inset;
}

/* punctuation */

.punctuation {
  display: inline;
}

.punctuation.application {
  /* margin-right: 0.5rem; */
  margin: 0 0.2rem;
  color: gray;
}

.punctuation.lambda {
  margin: 0 0.5rem 0 0;
}

.punctuation.colon {
  margin: 0 0.5rem;
}

.punctuation.colonHole {
  margin: 0 0.2rem;
}

.punctuation.colon_shortFront {
  margin-right: 0.5rem;
}

.punctuation.mapsto {
  margin: 0 0.5rem;
}

.punctuation.let {
  margin: 0 0.5rem 0 0;
}

.punctuation.in {
  margin: 0 0.5rem;
}

.punctuation.arrowR {
  margin: 0 0.5rem;
}

.punctuation.assign {
  margin: 0 0.5rem;
}

.punctuation.assign_shortFront {
  margin-right: 0.5rem;
}

.punctuation.data {
  margin: 0 0.5rem 0 0;
}

.punctuation.buffer {
  margin: 0 0.5rem 0 0;
}

.punctuation.rewrite {
  margin: 0 0.5rem;
}

/* indentation */

.indent {
  display: inline-block;
}

.indent-step {
  display: inline-block;
  width: 1rem;
}

/* label */

.label {}

.label-empty {
  border-radius: 0.2rem;
  padding: 0 0.2rem;
  display: inline-block;
  white-space: pre;
  /* border: 1px dashed black; */
  /* box-shadow: 0 0 0 1px black; */
  /* background-color: rgb(255, 224, 165);
  box-shadow: 0 0 0 1px orange inset, 1px 1px 2px 0 black inset; */
  background-color: rgb(255, 214, 157);
  box-shadow: 0 0 0 1px rgb(255, 182, 80) inset, 0 0 2px 1px black inset;
}

.node.cursorable>.label-empty:hover {
  background-color: rgb(255, 231, 198);
}

/* cursor, select, etc. */


.node.cursorable {
  border-radius: 0.2rem;
  cursor: pointer;
}

.node.cursor {
  box-shadow: var(--node-box-shadow-thickness-neg) 0 0 0 blue, var(--node-box-shadow-thickness) 0 0 0 blue;
}

.node.selectable {
  border-radius: 0.2rem;
  cursor: pointer;
}

.node.select-top {
  border-radius: 0.2rem;
  box-shadow: var(--node-box-shadow-thickness-neg) 0 0 0 blue, var(--node-box-shadow-thickness) 0 0 0 blue;
  background-color: rgb(208, 236, 255)
}

.node.select-bot {
  border-radius: 0.2rem;
  box-shadow: var(--node-box-shadow-thickness-neg) 0 0 0 blue, var(--node-box-shadow-thickness) 0 0 0 blue;
  background-color: white;
}

.node.query-replace-new {
  border-radius: 0.2rem;
  padding: 0 0.2rem;
  background-color: rgb(196, 196, 255);
  box-shadow: 0 0 0 1px black;
}

.node.query-replace-old {
  border-radius: 0.2rem;
  padding: 0 0.2rem;
  background-color: rgb(205, 205, 205);
  box-shadow: 0 0 0 1px black;
}

/* lists */

/* .node.list.cons */

.node.list.cons {
  padding-left: 0.3rem;
}

.node.list.cons.list-head {
  /* padding-left: 0.1rem; */
}

/* .node.list.nil */

.node.list.nil {
  /* padding-left: 0.2rem; */
  /* margin-right: 0.1rem; */
}

/* .listNil */

.punctuation.listNil {
  display: inline-block;
  width: var(--node-box-shadow-thickness);
  margin-left: 0.1rem;
}

.node.list.nil.list-head > .punctuation.listNil {
  margin-left: -0.1rem;
  margin-right: -0.1rem;
}

/* .list and .cursor */

.node.list.cons.cursor {
  border-radius: 0;
  box-shadow: inset var(--node-box-shadow-thickness) 0 0 0 blue;
}

.node.list.nil.cursor {
  box-shadow: none;
}

.node.list.nil.cursor>.listNil {
  background-color: blue;
}

.node.list.cons.select-top {
  border-radius: 0;
  box-shadow: inset var(--node-box-shadow-thickness) 0 0 0 blue;
  background-color: rgb(208, 236, 255)
}

.node.list.cons.select-bot {
  border-radius: 0;
  box-shadow: inset var(--node-box-shadow-thickness) 0 0 0 blue;
  background-color: white;
}

.node.list.nil.select-bot {
  box-shadow: none;
}

.node.list.nil.select-bot>.listNil {
  background-color: blue;
}

.node.list.query-replace-new {
  padding: 0 0.2rem;
  background-color: rgb(196, 196, 255);
  box-shadow: 0 0 0 1px black;
}

.node.list.query-replace-old {
  padding: 0 0.2rem;
  background-color: rgb(205, 205, 205);
  box-shadow: 0 0 0 1px black;
}

.list-head-nil-wrapper {
  display: inline-block;
}

.list-head-nil-wrapper>* {
  visibility: hidden;
}

.list-head-nil-wrapper:hover>* {
  visibility: visible;
}

.list-head-nil-wrapper>.cursor {
  visibility: visible;
}

/* specific lists */

.ty-bnd-list_nil {
  margin-right: -0.1rem;
}

/* hover */

.hover {
  cursor: pointer;
  background-color: rgb(208, 236, 255)
}

/* mouseDown hover and cursor */

/* mouseDown: hover outside of cursor */
.mouseDown .hover {
  box-shadow: var(--node-box-shadow-thickness-neg) 0 0 0 blue, var(--node-box-shadow-thickness) 0 0 0 blue;
  background-color: rgb(208, 236, 255);
}

/* mouseDown: hover inside of cursor */
.mouseDown .cursor .hover {
  box-shadow: var(--node-box-shadow-thickness-neg) 0 0 0 blue, var(--node-box-shadow-thickness) 0 0 0 blue;
  background-color: white;
}

/* mouseDown: cursor outside of hover */
.mouseDown .cursor {
  box-shadow: var(--node-box-shadow-thickness-neg) 0 0 0 blue, var(--node-box-shadow-thickness) 0 0 0 blue;
  background-color: rgb(208, 236, 255);
}

/* mouseDown: cursor inside of hover */
.mouseDown .hover .cursor {
  box-shadow: var(--node-box-shadow-thickness-neg) 0 0 0 blue, var(--node-box-shadow-thickness) 0 0 0 blue;
  background-color: white;
}