html {
  user-select: none;
}

body {}

.app {}

/* editor */

.editor {
  line-height: 1.2rem;

  /* overflow: scroll; */

  white-space: pre;
  font-family: monospace;
  font-size: 12pt;
  /* line-height: 15pt; */

  padding: 20px;
}

/* misc */

table,
tbody,
tr,
td {
  text-align: left;
  vertical-align: top;

  border: 1px solid black;
  border-collapse: collapse;
}

td {
  padding: 0.25rem;
}

.table-key {
  /* font-style: italic; */
  /* text-decoration: underline; */
  font-weight: 400;
}

.code {
  font-family: monospace;
}